@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1691563910146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e712";
}

.icon-school:before {
  content: "\f0a7";
}

.icon-md-school:before {
  content: "\e6be";
}

.icon-map-marker:before {
  content: "\e8e4";
}

.icon-github:before {
  content: "\e673";
}

